# Ignore compiled python code for robot & extra robot modules
/__pycache__

# Ignore byte-code from components, modules, and constants
components/__pycache__
extras/__pycache__
eventmanager/__pycache__
hardware/__pycache__

# Ignore test results
/tests

# Ignore log outputs
/logs

# Ignore python environment directory
/.venv